/.idea
/homework1/cmake-build-debug
/homework1/.idea
/homework2/cmake-build-debug
/homework2/.idea
/homework3/cmake-build-debug
/homework3/.idea

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app